:root {
    --primaryblack: rgba(0, 0, 0, 1);
    --primarywhite: rgba(255, 255, 255, 1);
    --zinc-500: rgba(113, 113, 122, 1);
    --zinc-300: rgba(212, 212, 216, 1);
    --primaryneutral: rgba(64, 64, 64, 1);
    --heading-h5-bold-font-family: "Sora", Helvetica;
    --heading-h5-bold-font-weight: 700;
    --heading-h5-bold-font-size: 20px;
    --heading-h5-bold-letter-spacing: -0.4px;
    --heading-h5-bold-line-height: 24px;
    --heading-h5-bold-font-style: normal;
    --heading-h5-semibold-font-family: "Sora", Helvetica;
    --heading-h5-semibold-font-weight: 600;
    --heading-h5-semibold-font-size: 20px;
    --heading-h5-semibold-letter-spacing: -0.4px;
    --heading-h5-semibold-line-height: 24px;
    --heading-h5-semibold-font-style: normal;
    --button-text-semibold-font-family: "Sora", Helvetica;
    --button-text-semibold-font-weight: 600;
    --button-text-semibold-font-size: 20px;
    --button-text-semibold-letter-spacing: 0.4px;
    --button-text-semibold-line-height: 24px;
    --button-text-semibold-font-style: normal;
    --displaytext-regular-font-family: "Sora", Helvetica;
    --displaytext-regular-font-weight: 400;
    --displaytext-regular-font-size: 48px;
    --displaytext-regular-letter-spacing: -0.96px;
    --displaytext-regular-line-height: 56px;
    --displaytext-regular-font-style: normal;
    --displaytext-extra-bold-font-family: "Sora", Helvetica;
    --displaytext-extra-bold-font-weight: 800;
    --displaytext-extra-bold-font-size: 48px;
    --displaytext-extra-bold-letter-spacing: -0.96px;
    --displaytext-extra-bold-line-height: 56px;
    --displaytext-extra-bold-font-style: normal;
    --outlined-extra-bold-font-family: "Sora", Helvetica;
    --outlined-extra-bold-font-weight: 800;
    --outlined-extra-bold-font-size: 48px;
    --outlined-extra-bold-letter-spacing: -0.96px;
    --outlined-extra-bold-line-height: 56px;
    --outlined-extra-bold-font-style: normal;
    --paragraph-p2-regular-font-family: "Sora", Helvetica;
    --paragraph-p2-regular-font-weight: 400;
    --paragraph-p2-regular-font-size: 16px;
    --paragraph-p2-regular-letter-spacing: 0.32px;
    --paragraph-p2-regular-line-height: 24px;
    --paragraph-p2-regular-font-style: normal;
    --heading-h4-semibold-font-family: "Sora", Helvetica;
    --heading-h4-semibold-font-weight: 600;
    --heading-h4-semibold-font-size: 24px;
    --heading-h4-semibold-letter-spacing: -0.48px;
    --heading-h4-semibold-line-height: 28px;
    --heading-h4-semibold-font-style: normal;
    --heading-h6-semibold-font-family: "Sora", Helvetica;
    --heading-h6-semibold-font-weight: 600;
    --heading-h6-semibold-font-size: 16px;
    --heading-h6-semibold-letter-spacing: -0.32px;
    --heading-h6-semibold-line-height: 20px;
    --heading-h6-semibold-font-style: normal;
    --button-text-2-regular-font-family: "Sora", Helvetica;
    --button-text-2-regular-font-weight: 400;
    --button-text-2-regular-font-size: 16px;
    --button-text-2-regular-letter-spacing: 0.32px;
    --button-text-2-regular-line-height: 20px;
    --button-text-2-regular-font-style: normal;
    --heading-h6-regular-font-family: "Sora", Helvetica;
    --heading-h6-regular-font-weight: 400;
    --heading-h6-regular-font-size: 16px;
    --heading-h6-regular-letter-spacing: -0.32px;
    --heading-h6-regular-line-height: 20px;
    --heading-h6-regular-font-style: normal;
    --heading-h3-semibold-font-family: "Sora", Helvetica;
    --heading-h3-semibold-font-weight: 600;
    --heading-h3-semibold-font-size: 28px;
    --heading-h3-semibold-letter-spacing: -0.56px;
    --heading-h3-semibold-line-height: 32px;
    --heading-h3-semibold-font-style: normal;
    --heading-h2-bold-font-family: "Sora", Helvetica;
    --heading-h2-bold-font-weight: 700;
    --heading-h2-bold-font-size: 32px;
    --heading-h2-bold-letter-spacing: -0.64px;
    --heading-h2-bold-line-height: 40px;
    --heading-h2-bold-font-style: normal;
  }
  